@import "component";
body {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: -webkit-calc(25/15);
  line-height: -moz-calc(25/15);
  line-height: calc(25 / 15);

  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
// Navbar Hamburger
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}
.des {
  font-size: clamp(1.15em, 1.25vw, 2.5em);
  font-weight: 400;
}
body {
  background-color: #fff;
  overflow-x: hidden;
}
// a {
//   text-decoration: none !important;
// }
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "EB Garamond", sans-serif;
}
a {
  font-family: "Inter", sans-serif;
}
h1 {
  // font-size: clamp(2.5em, 3.0vw, 7em);
  font-size: clamp(3em, 3.703vw, 8em);
  font-weight: 600;
}
p {
  font-weight: 400;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}

.btn-primary {
  background-color: #1A427C;
  border-color: #1A427C;
}
a {
  font-weight: 300;
  text-decoration: none;

  &:visited,
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}

@mixin hover_transition() {
  transition: all 0.3s ease !important;

  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
}

a,
button {
  @include hover_transition();
}

.btn {
  font-weight: 300;
}

a:hover,
button:hover {
  @include hover_transition();
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button,
textarea,
select,
li {
  font: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.affix {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999999 !important;
  width: 100%;
  background: $color-black;
  box-shadow: 0 0 1.25rem rgba(30, 34, 40, 0.06);
  animation: affix_animation 0.6s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-animation: affix_animation 0.6s ease-in-out;

  // .navbar-brand {
  //   img {
  //     width: 200px !important;
  //     @include media-breakpoint-down(lg){
  //       width: 230px !important;
  //     }
  //     @media (max-width:330px){
  //       width: 180px !important;
  //     }
  //   }
  // }
  .animated-icon2 {
    &.icon-white {
      span {
        background: #101010;
      }
    }
  }
}

@-webkit-keyframes affix_animation {
  0% {
    margin-top: -7.5rem;
    opacity: 0;
  }

  50% {
    margin-top: -4rem;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes affix_animation {
  0% {
    margin-top: -7.5rem;
    opacity: 0;
  }

  50% {
    margin-top: -4rem;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 650px) {
  .nav-tabs {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1200px) {
  .container-fluid {
    padding-right: 2em;
    padding-left: 2em;
  }
}
@media (max-width: 576px) {
  .container-fluid {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

@media (max-width: 480px) {
  .container-fluid {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media (min-width: 1200px) {
  .container-fluid,
  .container {
    max-width: 90%;
  }
}
.error-display {
  @include media-breakpoint-down(xs) {
    height: 30px;
    font-size: 12px;
  }
  height: 35px;
  line-height: 1.3;
  color: #f03;
  background: transparent;
  display: block;
  // background: red;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
#suceess-message {
  color: #00b200 !important;
  font-size: 14px;
  padding: 2px 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.anchor {
  height: 85px;
  z-index: -1;
  margin-top: -85px;
}
#more {
  display: none
}
#more ol li {
  color: #fff;
  font-size: 12px;
}
.read-more {
  cursor: pointer;
}
#more b {
  font-weight: 400 !important ;
}
.bredcrumb {
  .row {
    padding: 1em 0;
    border-radius: 10px;
    background: #EFEFFD;
    p {
      color: #1862AC;
    }
  }
}
body {
  @media (min-width:2000px){
    font-size: 1.1vw;
  }
}
.map {
  position: relative;
  .container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 2;
    @include media-breakpoint-down(md){
      position: relative;
    }
    .col-lg-5 {
      position: relative;
      height: 100%;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        background:  lightgray 50%;
        opacity: 0.35;
        z-index: -1;
        width: 100%;
        height: 600px;
        left: 0;
        right: 0;
      }
      .des {
        p, a {
          color: #000;
        }
        a {
          color: #000;
          text-decoration: underline;
          text-underline-offset: 5px;
          text-decoration-thickness: 2px;
          text-decoration-color: #FBCCCF;
        }
      }
      .pattern {
        position: absolute;
        left:15px;
        bottom: -40px;
        z-index: -1;
        width: 80%;
        height: 60%;
        overflow: hidden;
        @media (max-width:767px){
          display: none;
        }
        @media (min-width:768px) and (max-width:991px){
          bottom: 9px;
        }
        @media (min-width:992px) and (max-width:1200px){
          bottom: -88px;
        }
        @media (min-width:1300px){
          bottom: -14px;
        }
        @media (min-width:1400px){
          bottom: 5px;
        }
        @media (min-width:1500px){
          bottom: 15px;
        }
        @include media-breakpoint-up(xxxl){
          bottom: 42px;
          left: 36px;
        }
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          background: inherit;
        }
      }
      #contactForm {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
  

    .bg {
      height:536px;
      background-image: url(/img/Vector-contact-form.svg);
      background-size: cover;
      position: relative;
      z-index: 2;
      margin: 2em ;
      padding: 2em;
      @include media-breakpoint-down(md){
        margin: 2em 0;
      }
    }        
        
         .form-control {
          padding-left: 0;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-radius: 0;
          background-color: inherit;
         }
         #submit-btn {
          position: absolute;
          bottom: 0;
          border-radius: 0;
          border: 0;
          left: 0;
          right: 0;
          padding: 0.75rem;
          // background: url(/new/img/lets-talk-bg.svg) ;
          background-color: #000;
          background-size: cover;
          z-index: -1;
          color: #fff
         }

      }
    }
  }
}
@import "component";