@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.react-terminal-wrapper {
  height: 100%;
  border-radius: 0 !important;
}

.react-terminal-line {
  white-space: pre-wrap !important;
}
