<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Futurescape - Home</title>
  <meta name="robots" content="noindex">
  <meta name="description" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="img/fav_icon.svg" />
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="css/slick-theme.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css" />
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

  <style>
    .scrollBar1 {
  position: fixed;
  top: 97vh;
  height: 2px;
  width: 0%;
  background: goldenrod;
  -webkit-transition: width 200ms var(--timing);
  transition: width 200ms var(--timing);
  text-align: right;
  color: goldenrod;
  z-index: 9999;
}
.scrollBar1 span {
  position: absolute;
  top: -23px;
  right: 15px;
  font-size: 0.7em;
  font-weight: 500;
  display: block;
  text-align: center;
  z-index: 9999;
}
.scrollBar1 span::after {
  content: "%";
  font-size: 0.8em;
  position: absolute;
  right: -15px;
  bottom: 4px;
  font-weight: 700;
  opacity: 0.4;
}

.scrollBar2 {
  position: fixed;
  top: 0;
  right: 1vw;
  height: 0%;
  width: 5px;
  background: #49e;
  -webkit-transition: height 200ms var(--timing);
  transition: height 200ms var(--timing);
  text-align: right;
  color: #49e;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 1em;
  z-index: 9999;
}
.scrollBar2 span {
  position: absolute;
  bottom: 3px;
  left: 2px;
  font-size: 0.7em;
  font-weight: 500;
  display: inline-block;
  text-align: left;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom left;
  z-index: 9999;
}
.scrollBar2 span::after {
  content: "%";
  font-size: 0.8em;
  position: absolute;
  right: -15px;
  bottom: 4px;
  font-weight: 700;
  opacity: 0.4;
}


  </style>
</head>

<body-container id="parentContainer">
  <div class="scrollBar1"><span></span></div>
<div class="scrollBar2"><span></span></div>

  <!-- section one world -->
   <div id="hero-navbar" class="hamburger-home row justify-content-end" style="position: absolute;top: 2em;z-index: 999;right: 3em;">
    <!-- <nav class="navbar"> -->
      <button class="navbar-toggler" type="button" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <img src="img/menu-w-01.svg" class="img-fluid" alt="menu">
    </button>
<!-- </nav>   -->
   </div>
  <section id="world" class="section-gap bg-black">
    <div class="container">
      <div class="row">
        <div class="content text-center">
          <h1 class="text-white mb-0" id="mainHeading" data-aos="fade-up" data-aos-duration="1000">
            Where is the world heading?</h1>
          <div class="img" data-aos="fade-up" data-aos-duration="1400">
            <img src="img/home/globe.svg" alt="world" class="img-fluid">
          </div>
          <div class="down-arrow">
            <a href="#second-section">
              <!-- <p class="des text-white opacity-75 mb-0">Scroll to view</p> -->
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m322 246.54-66 66-66-66a10 10 0 0 0-14.14 14.14l67.86 67.87a17.33 17.33 0 0 0 24.48 0l67.86-67.87A10 10 0 0 0 322 246.54z" fill="#ffffff" opacity="1" data-original="#000000"></path><path d="M243.76 263.33a17.33 17.33 0 0 0 24.48 0l67.86-67.87a10 10 0 0 0-14.1-14.14l-66 66-66-66a10 10 0 1 0-14.14 14.14z" fill="#ffffff" opacity="1" data-original="#000000"></path></g></svg>
<!-- <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 0L7.15493e-08 4L9 10L18 4L18 -2.14648e-07L9 6.42857L0 0Z" fill="white"/>
  </svg>   -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="second-section" class="anchor"></div>
  <!-- section two - social predict  -->
  <section id="world" class="section-gap three-block-home bg-black">
    <div class="container">
      <div class="row">
        <div class="content text-center">
          <h1 class="text-white mb-0" id="mainHeading" data-aos="fade-up" data-aos-duration="1000">Can behavioral and social<br
              class="d-none d-lg-block"> scientists predict societal change?</h1>
          <div class="img" data-aos="fade-up" data-aos-duration="1800">
            <img src="img/home/predict.svg" alt="predict" class="img-fluid">
          </div>
          <div class="down-arrow">
            <a href="#third-section">
              <!-- <p class="des text-white opacity-75 mb-0">Scroll to view</p> -->
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m322 246.54-66 66-66-66a10 10 0 0 0-14.14 14.14l67.86 67.87a17.33 17.33 0 0 0 24.48 0l67.86-67.87A10 10 0 0 0 322 246.54z" fill="#ffffff" opacity="1" data-original="#000000"></path><path d="M243.76 263.33a17.33 17.33 0 0 0 24.48 0l67.86-67.87a10 10 0 0 0-14.1-14.14l-66 66-66-66a10 10 0 1 0-14.14 14.14z" fill="#ffffff" opacity="1" data-original="#000000"></path></g></svg>
              <!-- <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0L7.15493e-08 4L9 10L18 4L18 -2.14648e-07L9 6.42857L0 0Z" fill="white"/>
                </svg>                 -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="third-section" class="anchor"></div>
  <!-- section three - tournament inform -->
  <section id="world" class="section-gap three-block-home bg-black">
    <div class="container">
      <div class="row">
        <div class="content text-center">
          <h1 class="letterize text-white mb-0" id="mainHeading" data-aos="fade-up" data-aos-duration="1000">
            What can a forecasting tournament <br class="d-none d-lg-block"> inform us about human welfare? </h1>
          <div class="img"  data-aos="fade-up" data-aos-duration="1800">
            <img src="img/home/welfare.svg" alt="welfare" class="img-fluid">
          </div>
          <div class="down-arrow down-arrow-1">
            <a href="#main-header">
              <!-- <p class="des text-white opacity-75 mb-0">Scroll to view</p> -->
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m322 246.54-66 66-66-66a10 10 0 0 0-14.14 14.14l67.86 67.87a17.33 17.33 0 0 0 24.48 0l67.86-67.87A10 10 0 0 0 322 246.54z" fill="#ffffff" opacity="1" data-original="#000000"></path><path d="M243.76 263.33a17.33 17.33 0 0 0 24.48 0l67.86-67.87a10 10 0 0 0-14.1-14.14l-66 66-66-66a10 10 0 1 0-14.14 14.14z" fill="#ffffff" opacity="1" data-original="#000000"></path></g></svg>
              <!-- <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0L7.15493e-08 4L9 10L18 4L18 -2.14648e-07L9 6.42857L0 0Z" fill="white"/>
                </svg>                 -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section four - Main Section -->
   <div id="main-header" class="bg-black">
    <section id="hero-navbar" class="bg-black topnav">
      <nav id="navlist" class="navbar navbar-expand-lg" data-aos="fade-up" data-aos-duration="1400">
        <div class="container-fluid"  >
          <a class="navbar-brand text-white" href="/">futurescape</a>
          <button class="navbar-toggler second-button" type="button" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-expanded="false"
          aria-label="Toggle navigation">
          <div class="animated-icon2">
            <span></span><span></span><span></span><span></span>
          </div>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <!--<li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  aria-controls="offcanvasNavbar">About</a>
              </li>-->
  
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  aria-controls="offcanvasNavbar">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://futurescape.uwaterloo.ca/game/login" target="_blank">Play the game</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
   </div>
  
  <div class="">
    <div class="offcanvas offcanvas-end"  tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close text-end" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end text-end flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a class="nav-link main-txt text-black dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              About
            </a>
            <ul class="dropdown-sub mb-5">
              <li><a class="dropdown-item" href="the-journey.html">The journey</a></li>
              <li><a class="dropdown-item" href="the-tournament.html">The tournament</a></li>
              <li><a class="dropdown-item" href="team.html">The team</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link main-txt text-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Explore
            </a>
            <ul class="dropdown-sub mb-5">
              <li><a class="dropdown-item" href="vision-of-the-future.html">Visions of the future</a></li>
              <li><a class="dropdown-item" href="humans-of-prediction.html">Humans of prediction</a></li>
              <li><a class="dropdown-item" href="the-tournament.html#tournament-graphs">Insights</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://futurescape.uwaterloo.ca/game/login" target="_blank" class="nav-link main-txt text-black">Play the game</a>
          </li>
          <li class="nav-item">
            <!-- <a href="#" class="nav-link text-black"></a> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section id="inner-banner" class="bg-black home-banner pb-5">
    <div class="container">
      <div class="row justify-content-center mb-2">
        <div class="col-lg-4">
          <div class="img text-center" data-aos="fade-up" data-aos-duration="1400">
            <img src="img/home/main.svg" alt="main" class="img-fluid">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-8 col-xxl-7 mb-5">
          <div class="content mb-5" data-aos="fade-up" data-aos-duration="1400">
            <h1 id="mainHeading" class="text-white mb-3" >Futurescape</h1>
            <p class="text-white des">A collaborative research initiative aimed at
              predicting the future of human welfare.
              Through a longitudinal forecasting tournament, we focus on debates over societal change and draw on the
              predictions of experts, keen-eyed superforecasters and everyday people.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section five - predicting tomorrow's world -->
  <section id="predicting" class="section-gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8  col-xxl-7">
          <div class="content mt-5">
            <h1 id="mainHeading" data-aos="fade-up" data-aos-duration="1400">Predicting tomorrow's world </h1>
            <p class="des" data-aos="fade-up" data-aos-duration="1600">Gathered from different
              corners of the globe, a target pool of 100 experts were able to
              identify 8 initial domains based on their expertise, team discussions, and relevance to human progress. They
              individually ranked the eight preselected domains by perceived importance, narrowing them to the final
              four domains with the most reliable markers.</p>
            <!-- <div class="mb-3" data-aos="fade-up" data-aos-duration="1800">
              <a href="the-journey.html" class="link text-black">Know more about the domains →</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8  col-xxl-7">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/Climate.webp" alt="climate" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Climate</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1200">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/economy.webp" alt="economy" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Economy</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-5">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1400">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/public-health.png" alt="health" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Public Health</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1600">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/peace-war.webp" alt="peace" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Peace/War</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <!-- section six - discover -->
  <section id="discover-more" class="section-gap">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-8 col-xxl-7" data-aos="fade-up" data-aos-duration="1800">
          <h1 id="mainHeading">Discover more about Futurescape</h1>
          <p class="des">Through the lens of
            superforecasters, scientists, AI artists and game designers</p>
        </div>
        <div class="clearfix mb-4"></div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1000">
          <div class="each-block">
            <a href="the-journey.html"> 
              <div class="img">
               <img src="img/home/thejourney.jpg" alt="journey" class="img-fluid w-100">
                <div class="txt">
                  <p>The journey</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1200">
          <div class="each-block">
            <a href="the-tournament.html"> 
            <div class="img">
              <img src="img/home/Thetournament.webp" alt="tournament" class="img-fluid w-100">
              <div class="txt">
                <p>The tournament</p>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1400">
          <div class="each-block">
            <a href="team.html">
            <div class="img">
              <img src="img/home/teams.png" alt="team" class="img-fluid w-100">
              <div class="txt">
                <p>The team</p>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1600">
          <div class="each-block">
            <a href="humans-of-prediction.html"> 
            <div class="img">
              <img src="img/home/Humansofprediction.webp" alt="human" class="img-fluid w-100">
              <div class="txt">
                <p>Humans of prediction</p>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1800">
          <div class="each-block">
            <a href="vision-of-the-future.html"> 
            <div class="img">
              <img src="img/home/vision.png" alt="vision" class="img-fluid w-100">
              <div class="txt">
                <p>Visions of the future</p>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="2000">
          <div class="each-block">
            <a href="the-tournament.html#tournament-graphs">
            <div class="img">
              <img src="img/home/discovery.png" alt="discovery" class="img-fluid w-100">
              <div class="txt">
                <p>Insights</p>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section seven - Lets Travel -->
  <section id="lets-travel">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-8 col-xxl-7">
          <div class="content my-5">
            <h1 id="mainHeading" data-aos="fade-up" data-aos-duration="1400">Let’s time travel</h1>
            <p class="des" data-aos="fade-up" data-aos-duration="1800">Here’s your chance to test your
              forecasting abilities! Learn more about the 4 domains and how they change
              over time. The time machine is about to take off!</p>
            <div class="button mb-5" data-aos="fade-up" data-aos-duration="2000">
              <a href="https://futurescape.uwaterloo.ca/game/login" target="_blank" class="btn btn-primary mb-5">Play the game</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img mb-5">
      <img src="img/home/Lettimetravel.png" alt="travel" class="img-fluid w-100 mb-5">
    </div>
  </section>
  <hr class="my-5">
  <!-- section Eight - Join Our Community-->
  <section id="join-our-community" class="section-gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-7">
          <div class="content">
            <h1 id="mainHeading" data-aos="fade-up" data-aos-duration="1400">Join our community</h1>
            <p class="des mt-3" data-aos="fade-up" data-aos-duration="1800">Receive latest project updates and curated
              learnings about forecasting, open-mindedness and intellectual
              humility.</p>
            <div id="contactForm" data-aos="fade-up" data-aos-duration="2000">
              <form class="form-details" @submit.prevent="ContactForm">
                <div class="row form-row">
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input type="email" class="form-control" v-model="leadData.email" name="Email address"
                        v-validate="'required|email'" placeholder="Enter Email ID*">
                      <div class="error-display">
                        <div v-if="submitted && errors.has('Email address') && !showSuccess" class="invalid">
                          {{ errors.first("Email address") }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <button class="btn bg-black text-white" id="submit-btn">Join now</button>
                  </div>
              </form>
              <div v-if="submitted && showSuccess" class="success" id="suceess-message">
                {{ successResponse }}
              </div>
              <div v-if="submitted && showError" class="error">
                {{ errorResponse }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- section nine - footer -->
  <section id="footer" class="section-gap bg-black">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-3">
          <div class="img">
            <img src="img/home/PENN-WHITE.webp" alt="penn" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="img">
            <img src="img/home/john.png" alt="john" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="img">
            <img src="img/home/WATERLOO-WHITE.webp" alt="university" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="img/close.svg" alt="" class="img-fluid"></button>
      </div>
      <div class="modal-body">
        <h1>The game is best experienced on a desktop or laptop. Mobile support is limited—please switch devices for the optimal experience.        </h1>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/js/vee-validate.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/form.js"></script>
  <script src="js/sliders.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="js/app.js"></script>
  <script>
      let header = document.querySelector(".topnav");
  let storData = header.offsetTop;
  window.addEventListener("scroll", function (e) {
    if (window.scrollY >= storData) {
      header.classList.add("fixed");
    } else {
      header.classList.remove("fixed");
    }
  });
  </script>
  <script>
    $(document).scroll(function (e) {
  var scrollAmount = $(window).scrollTop();
  var documentHeight = $(document).height();
  var windowHeight = $(window).height();
  var scrollPercent = (scrollAmount / (documentHeight - windowHeight)) * 100;
  var roundScroll = Math.round(scrollPercent);
  
  // For scrollbar 1
  $(".scrollBar1").css("width", scrollPercent + "%");
  $(".scrollBar1 span").text(roundScroll);
  
  // For scrollbar 2
  $(".scrollBar2").css("height", scrollPercent + "%");
  $(".scrollBar2 span").text(roundScroll);
});
  </script>
</body>

</html>