$color-primary: #1A427C;
$color-secondary: #03A8E1;
$color-third: #F87C0A;

// default colors
$color-white: #ffffff;
$color-white-light: #f2f2f2;
$color-black: #000000;
$color-light-black: #000;
$color-black-light: #333333;
$color-light-white: #fff;
$color-gray: #e5ebf3;
$color-pink: #e9495c;
$color-black-dark: #161616;
$color-light-pink: #ffd3d1;
$color-light-blue: #ccecff;
$color-sky-blue: #d6f0ff;
$sky-blue: #e6deff;
$blue: #f4f1ff;
$gray: #d6c9ff;
$dark-gray: #567;
$primary: #3728dd;
$color-red: #eb4051;
$color-green: #296152;
$color-orange: #e2894b;
$color-violet: #8b318c;
$color-dark-pink: #da3594;
$color-gray1: #45505c;
$color-gray2: #d5cfe8;
$color-light: #ffebea;
$color-light-blue1: #f8f6ff;
$color-purple: #b01fdf;
$cream-color: #f0f6ff;
$black-color: #222223;

.blueColor {color: $color-primary;}