<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Futurescape - Home</title>
  <meta name="robots" content="noindex">
  <meta name="description" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="img/fav_icon.svg" />
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="https://unpkg.com/locomotive-scroll/dist/locomotive-scroll.css">
  <link rel="stylesheet" href="css/app.css" />
  <style>
    .scroll-container {
      overflow: hidden;
    }
  </style>
</head>

<body data-scroll-container id="parentContainer">
  <!-- section one world -->
  <section id="world" class="section-gap bg-black section-auto-scroll" data-scroll-section>
    <div class="container">
      <div class="row">
        <div class="content text-center">
          <h1 class="text-white mb-0" id="mainHeading">
            Where is the world heading?</h1>
          <div class="img" data-scroll data-scroll-speed="2">
            <img src="img/home/globe.svg" alt="world" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section two - social predict  -->
  <section id="world" class="section-gap bg-black section-auto-scroll" data-scroll-section>
    <div class="container">
      <div class="row">
        <div class="content text-center">
          <h1 class="text-white mb-0" id="mainHeading" data-scroll data-scroll-speed="1">Can behavioural and social<br
              class="d-none d-lg-block"> scientists predict societal change?</h1>
          <div class="img" data-scroll  data-scroll-speed="2">
            <img src="img/home/predict.svg" alt="predict" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section three - tournament inform -->
  <section id="world" class="section-gap bg-black section-auto-scroll" data-scroll-section>
    <div class="container">
      <div class="row">
        <div class="content text-center">
          <h1 class="letterize text-white mb-0" id="mainHeading" data-scroll data-scroll-speed="1">
            What can a forecasting tournament <br class="d-none d-lg-block"> inform us about human welfare? </h1>
          <div class="img">
            <img src="img/home/welfare.svg" alt="welfare" class="img-fluid" data-scroll data-scroll-speed="2">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section four - Main Section -->
   <div id="main-header" data-scroll-section >
    <section id="hero-navbar" class="bg-black sticky-top"  data-scroll data-scroll-offset data-scroll-sticky data-scroll-target="#main-header" >
      <nav id="navlist-home" class="navbar topnav navbar-expand-lg">
        <div class="container-fluid"  >
          <a class="navbar-brand text-white" href="/">futurescape</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <!--<li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  aria-controls="offcanvasNavbar">About</a>
              </li>-->
  
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  aria-controls="offcanvasNavbar">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  aria-controls="offcanvasNavbar">Time Machine</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
   </div>
  
  <div class="" data-scroll-offset>
    <div class="offcanvas offcanvas-end"  tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close text-end" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end text-end flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a class="nav-link main-txt text-black dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              About
            </a>
            <ul class="dropdown-sub mb-5">
              <li><a class="dropdown-item" href="the-journey.html">The journey</a></li>
              <li><a class="dropdown-item" href="the-tournament.html">The tournament</a></li>
              <li><a class="dropdown-item" href="team.html">The team</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link main-txt text-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Explore
            </a>
            <ul class="dropdown-sub mb-5">
              <li><a class="dropdown-item" href="vision-of-the-future.html">Visions of the future</a></li>
              <li><a class="dropdown-item" href="humans-of-prediction.html">Humans of prediction</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="https://futurescape.uwaterloo.ca/game/login" target="_blank" class="nav-link main-txt text-black">Play the game</a>
          </li>
          <li class="nav-item">
            <!-- <a href="#" class="nav-link text-black"></a> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section id="inner-banner" class="bg-black pb-5" data-scroll-section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="img text-center">
            <img src="img/home/main.svg" alt="main" class="img-fluid" data-scroll data-scroll-speed="2">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-8 col-xxl-7">
          <div class="content" data-scroll data-scroll-speed="1">
            <h1 id="mainHeading" class="text-white mb-3" >Futurescape</h1>
            <p class="text-white des">A collaborative research initiative aimed at
              predicting the future of human welfare.
              Through a longitudinal forecasting tournament, we focus on debates over societal change and draw on the
              predictions of experts, keen-eyed “superforecasters” and everyday people.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section five - predicting tomorrow's world -->
  <section id="predicting" class="section-gap">
    <div class="container" data-scroll-section>
      <div class="row justify-content-center">
        <div class="col-lg-8  col-xxl-7">
          <div class="content">
            <h1 id="mainHeading" data-scroll data-scroll-speed="1" data-scroll-offset="0%, 30%">Predicting tomorrow's world </h1>
            <p class="des" data-scroll data-scroll-speed="1" data-scroll-offset="0%, 30%">Gathered from different
              corners of the globe, a target pool of 100 experts were able to
              identify 8 initial domains based on their opinions, team discussion, and relevance to human progress. They
              individually ranked the eight preselected domains by perceived importance, narrowing them to the final
              four domains with the most reliable markers.</p>
            <div class="mb-3" data-scroll data-scroll-speed="1">
              <a href="#" class="link text-black" data-scroll-offset="0%, 40%">Know more about the domains →</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" data-scroll-section>
      <div class="row justify-content-center">
        <div class="col-lg-8  col-xxl-7">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-6" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3"
              data-scroll-offset="0%, 78%">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/Climate.webp" alt="climate" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Climate</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3"
              data-scroll-offset="0%, 78%">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/economy.webp" alt="economy" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Economy</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-5">
            <div class="col-lg-6" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3"
              data-scroll-offset="0%, 78%">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/public-health.webp" alt="health" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Public Health</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3"
              data-scroll-offset="0%, 78%">
              <div class="each-block">
                <div class="img">
                  <img src="img/home/peace-war.webp" alt="peace" class="img-fluid w-100">
                </div>
                <div class="txt">
                  <h2>Peace/War</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <!-- section six - discover -->
  <section id="discover-more" class="section-gap" data-scroll-section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-7" data-scroll data-scroll-speed="2">
          <h1 id="mainHeading">Discover more about Futurescape</h1>
          <p class="des">Through the lens of
            super-forecasters, scientists, AI artists and game designers</p>
        </div>
        <div class="clearfix mb-4"></div>
        <div class="col-lg-4">
          <div class="each-block" data-scroll data-scroll-speed="2" data-scroll-offset="0%, 30%">
            <div class="img" data-scroll>
              <img src="img/home/thejourney.jpg" alt="journey" class="img-fluid w-100">
              <div class="txt">
                <p>The journey</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="each-block" data-scroll data-scroll-speed="1" data-scroll-offset="0%, 20%">
            <div class="img">
              <img src="img/home/Thetournament.webp" alt="tournament" class="img-fluid w-100">
              <div class="txt">
                <p>The tournament</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="each-block" data-scroll data-scroll-speed="2" data-scroll-offset="0%, 30%">
            <div class="img">
              <img src="img/home/teams.png" alt="team" class="img-fluid w-100">
              <div class="txt">
                <p>The team</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="each-block" data-scroll data-scroll-speed="2" data-scroll-offset="0%, 10%">
            <div class="img">
              <img src="img/home/Humansofprediction.webp" alt="human" class="img-fluid w-100">
              <div class="txt">
                <p>Humans of prediction</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="each-block" data-scroll data-scroll-speed="1" data-scroll-offset="0%, 20%">
            <div class="img">
              <img src="img/home/vision.png" alt="vision" class="img-fluid w-100">
              <div class="txt">
                <p>Visions of the future</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="each-block" data-scroll data-scroll-speed="2" data-scroll-offset="0%, 10%">
            <div class="img">
              <img src="img/home/discovery.png" alt="discovery" class="img-fluid w-100">
              <div class="txt">
                <p>Discovery and<br> learnings</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section seven - Lets Travel -->
  <section id="lets-travel" data-scroll-section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-7">
          <div class="content my-5" data-scroll data-scroll-speed="2">
            <h1 id="mainHeading">Let’s time travel</h1>
            <p class="des">Here’s your chance to test your
              forecasting abilities! Learn more about the 4 domains and how they change
              over time. The time machine is about to take off!</p>
            <div class="button mb-5">
              <a href="#" class="btn btn-primary mb-5">Play the game</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img mb-5" data-scroll data-scroll-speed="1">
      <img src="img/home/Lettimetravel.png" alt="travel" class="img-fluid w-100">
    </div>
  </section>
  <!-- section Eight - Join Our Community-->
  <section id="join-our-community" class="section-gap" data-scroll-section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-7">
          <div class="content" data-scroll data-scroll-speed="2">
            <h1 id="mainHeading">Join our community</h1>
            <p class="des mt-3">Receive latest project updates and curated
              learnings about forecasting, open-mindedness and intellectual
              humility.</p>
            <div id="contactForm">
              <form class="form-details" @submit.prevent="ContactForm">
                <div class="row form-row">
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input type="email" class="form-control" v-model="leadData.email" name="Email address"
                        v-validate="'required|email'" placeholder="Enter Email ID*">
                      <div class="error-display">
                        <div v-if="submitted && errors.has('Email address') && !showSuccess" class="invalid">
                          {{ errors.first("Email address") }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <button class="btn bg-black text-white" id="submit-btn">Join now</button>
                  </div>
              </form>
              <div v-if="submitted && showSuccess" class="success" id="suceess-message">
                {{ successResponse }}
              </div>
              <div v-if="submitted && showError" class="error">
                {{ errorResponse }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- section nine - footer -->
  <section id="footer" class="section-gap bg-black" data-scroll-section>
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-3">
          <div class="img">
            <img src="img/home/penn.png" alt="penn" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="img">
            <img src="img/home/john.png" alt="john" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="img">
            <img src="img/home/university.png" alt="university" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/locomotive-scroll/dist/locomotive-scroll.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/letterizejs@2.0.1/lib/letterize.min.js"
    integrity="sha256-BnGmL6SMMBDHkgAWIUohV386CFjNtVgdGCqS3eDGr6c=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js"></script>
  <script src="js/scroll-animation.js"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/js/vee-validate.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/form.js"></script>
  <script src="js/sliders.js"></script>
  <script src="js/app.js"></script>
</body>

</html>